Header {
  justify-content: center;
  text-align: center;
}

.ContentArea {
  border: 1px solid white;
}

.MainContentArea {
  width: 70%;
  margin: auto;
  border-left: 1px solid white;
  border-right: 1px solid white;
  overflow: auto;
  padding: 20px;
}
